@import 'src/style/variables';

body {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-gray;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
}
