.group-list-item {
    width: 100%;
}

.group-bar {
    background-color: #929aab;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.group-id {
    position: absolute;
    top: 10px;
    left: 45%;
}
.trainee-names {
    height: 50px;
    background-color: lightgray;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding: 4px 14px;
}